<html>
<head>
<title>ADD Book</title>
<!-- <font size="60"><center><b>Project Do-Er</b></center></font><br> -->
<font size="10"><center>DELETE BOOK</center></font>
<style>
.form-container{
    width:250px;
    height:auto;
    padding:100px 100px;
    background-color:#fff;
    border-radius:10px;
    margin:auto;
}
.list{
list-style-type:none;
text-align: center;
}
</style>
</head>
<body bgcolor=" #cccccc">
<div class="form-container">
  <ul class="list">	
    <form action="" method="POST">
      <!-- <h2> ADD BOOK</h2> -->

      <div class="hello">
          <label for="no">ISBNno:</label>
          <input type="text" name="num" placeholder="ISBNno" required>
          <br><br>
          <button type="submit" name="submit">Deletebook</button>
      </div>
  </form>
</div>
</body>
</html>