<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LIBRARY</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib.css') }}">
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <header class="static" >
        <div class="pic1">
            <!-- <img src="rn2.svg" alt="pic" width="70px" height="80px" >  <br> -->
            <br>
            <br>
            <br><br>
            <br>
            <br>

            
            
        
        </div>
         
        <div class="nav">

            <a href="/booklist">BOOK LIST</a></li><br><br><br>
            <a href="/addbook">ADD BOOK </a></li><br><br><br>
            <a href="/delete">DELETE BOOK</a></li><br><br><br>
            <a href="/takebook">TAKE BOOK</a></li>
                
            
        </div>
        
    
    </header>
    <body>
        <!-- <img src="{{url_for('static',filename='bg4.png')}}" alt=""> -->
        <img src="{{url_for('static',filename='bg2.png')}}" alt=" " width="100%" height="100%" style="opacity:0.9;">
            <!-- <body style="background-image: url(bg4.png);"> -->
                <div class="static1">
                    <span class="text1">Welcome To Library</span>
                    
    
                
                </div>
    </body>