<html>
<head>
<title>ADD Book</title>
<!-- <font size="60"><center><b>Project Do-Er</b></center></font><br> -->
<font size="10"><center>ADD BOOK</center></font>
<style>
.form-container{
    width:250px;
    height:auto;
    padding:100px 100px;
    background-color: #fff;
    border-radius:10px;
    margin:auto;
}
.list{
list-style-type:none;
text-align: center;
}
</style>
</head>
<body bgcolor=" #cccccc">
<div class="form-container">
  <ul class="list">	
    <form action="/addbook" method="POST">
      <h2> ADD BOOK</h2> 

      <div class="hello">

         <label for="name">Bookname:</label>
          <input type="text" name="name" placeholder="Bookname" required>
          <br><br>
          <label for="no">ISBNno:</label>
          <input type="text" name="num" placeholder="ISBNno" required >
          <br><br>
          <label for="dept">Department:</label>
          <select name="dept" placeholder="Department" required>
            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
            <option value="eee">EEE</option>
            <option value="civil">CIVIL</option>
            </select>
          <br><br>
          <button type="submit" name="submit" value="add">Addbook</button>
      </div>
  </form>
	
</div>
</body>
</html>